.mat-column-deviceId {
  width: 7%;
  max-width: 7%;
}
.mat-header-cell {
  font-size: 14px;
  font-weight: bold;
}
/* .mat-column-jobName {
  width: 20%;
  max-width: 20%;
}
.mat-column-expectedOp {
  width: 7%;
  max-width: 7%;
}
.mat-column-actualOp {
  width: 7%;
  max-width: 7%;
}
.mat-column-startTime {
  width: 20%;
  max-width: 20%;
}
.mat-column-endTime {
  width: 19%;
  max-width: 19%;
}
.mat-column-operatorName {
  width: 20%;
  max-width: 20%;
} */
